@font-face { font-family: netflix_light; src: url('../Assets/Netflix_Font/NetflixSans-Light.otf'); } 
@font-face { font-family: netflix_regular; src: url('../Assets/Netflix_Font/NetflixSans-Regular.otf'); } 
@font-face { font-family: netflix_medium; src: url('../Assets/Netflix_Font/NetflixSans-Medium.otf'); } 
@font-face { font-family: netflix_bold; src: url('../Assets/Netflix_Font/NetflixSans-Bold.otf'); } 
/* font-family: netflix_regular,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif; */

*{
    padding: 0;
    margin: 0;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #141414;
}
p,h1,h2,h3,h4,h5,h6{
    margin: 0;
}

/* Navigation Bar */
nav{
    z-index: 1;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 68px;
    background: transparent;
    transition: .5s ease;
    z-index: 99;
}
nav .left{
    margin-left: 60px;
    display: flex;
}
nav .left .logo{
    height: 25px;
    width: auto;
    margin-right: 45px;
}
nav .left .nav_links{
    display: flex;
    align-items: center;
    gap: 20px;
}
nav .left .nav_links .links{
    font-family: netflix_light,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    font-size: .86rem;
    color: rgb(216, 215, 215);
    transition: .4s;
    text-decoration: none;
}
nav .left .nav_links .active{
    font-family: netflix_regular,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    color: #ffff;
}
nav .left .nav_links .links:hover{
    cursor: pointer;
    color: rgb(177, 176, 176);
}
nav .left .nav_links .browse_container{
    display: none;
}
nav .right{
    margin-right: 60px;
}
nav .right .avatar{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 3px;
    height: 33px;
    width: 30px;
    object-fit: contain;
}


/* Modal Container */
.modal_container{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.555);
    z-index: 100;
    display: none;
    align-items: center;
    justify-content: center;
}
.modal_container .my_modal{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    width: 49%;
    max-width: 937px;
    padding-bottom: 30px;
    height: auto;
    background-color: #181818;
    overflow: hidden;
    display: none;
    -webkit-animation: scale-up-center 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) ;
	animation: scale-up-center 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) ;
}
@-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
}
.modal_container .my_modal .close_btn{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #181818;
    float: right;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;
    clear: both;
    z-index: 999;
    position: relative;
}
.modal_container .my_modal .close_btn:hover{
    cursor: pointer;
    opacity: 90%;
}
#youtube_player{
    margin-top: -70px;
    width: 100%;
    height: 500px;
    z-index: 998;
}
.modal_container .my_modal .details_container{
    width: 92%;
    margin: 0 auto;
    margin-top: 10px;
}
.modal_container .my_modal .details_container .title{
    color: #d0d0d0;
    font-size: 1.7rem;
    font-family: netflix_bold,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}
.modal_container .my_modal .details_container .date{
    margin-top: 10px;
    color: #d0d0d0;
    font-size: 1.2rem;
    font-family: netflix_light,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}
.modal_container .my_modal .details_container .date span:nth-child(1){
    color:#6d6c6c;
}
.modal_container .my_modal .details_container .genres{
    margin-top: 10px;
    font-size: 1rem;
    color:#6d6c6c;
    font-family: netflix_regular,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}
.modal_container .my_modal .details_container .overview{
    margin-top: 10px;
    font-size: 1rem;
    color: #d0d0d0;
    line-height: 1.5rem;
    font-family: netflix_light,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}


/* Footer */
.footer_container{
    margin-top: 250px;
    width: 100%;
    height: auto;
    background-color: rgb(22, 22, 22); 
    padding: 70px 0;
    overflow: hidden;
}
.footer_container .top{
    margin: 0% auto;
    max-width: 75%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.footer_container .logo img{
    max-width: 130px;
}
.footer_container .info .info_content{
    display: flex;
    gap: 10px;
    align-items: center;
}
.footer_container .info .info_content p{
    font-family: netflix_light,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    font-size: .9rem;
    max-width: 400px;
    color: #979797;
    text-align: center;
}
.footer_container .footer .footer_nav{
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    border-bottom: 2px solid #979797;
    padding: 10px 20px;
}
.footer_container .footer .footer_nav a{
    text-decoration: none;
    color: #ffff;
    font-size: 1rem;
    font-family: netflix_light,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}
.footer_container .footer .footer_nav a:hover{
    cursor: pointer;
    text-decoration: underline;
}
.footer_container .footer p{
    margin-top: 5px;
    color: #979797;
    font-size: 1rem;
    font-family: netflix_light,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    text-align: center;
}



/*RESPONSIVE*/
@media screen and (max-width: 1441px) {
    #youtube_player{
        height: 370px;
    }
    .modal_container .my_modal .movie_banners{
        margin-top: -375px;
        height: 370px;
    }
}
@media screen and (max-width: 1367px) {
    .modal_container .my_modal{
        width: 45%;
    }
    #youtube_player{
        height: 300px;
    }
    .modal_container .my_modal .movie_banners{
        margin-top: -305px;
        height: 300px;
    }
}
@media screen and (max-width: 1201px) {
    .footer_container .contact_content{
        width: 90%;
    }
}
@media screen and (max-width: 1177px) {
    .modal_container .my_modal{
        width: 50%;
    }
    .modal_container .my_modal .details_container .title{
        font-size: 1.4rem;
    }
    .modal_container .my_modal .details_container .date{
        font-size: 1.1rem;
    }
    .modal_container .my_modal .details_container .genres{
        font-size: .9rem;
    }
    .modal_container .my_modal .details_container .overview{
        font-size: .9rem;
    }
}
@media screen and (max-width: 1101px) {
    .modal_container .my_modal{
        width: 60%;
    }
    #youtube_player{
        height: 370px;
    }
    .modal_container .my_modal .movie_banners{
        margin-top: -375px;
        height: 370px;
    }

    .footer_container .top{
        max-width: 90%;
    }
}
@media screen and (max-width: 884px) {
    .modal_container .my_modal{
        width: 80%;
    }
    #youtube_player{
        height: 350px;
    }
    .modal_container .my_modal .movie_banners{
        margin-top: -355px;
        height: 350px;
    }

    nav .left .nav_links .links{
        display: none;
    }
    nav .left .nav_links .browse_container{
        z-index: 100;
        display: flex;
        align-items: center;
        color: #ffff;
        transition: .4s;
    }
    nav .left .nav_links .browse_container:hover{
        color: rgb(177, 176, 176);
    }
    nav .left .nav_links .browse_container p{
        font-family: netflix_bold,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
        font-size: .86rem;
    }
    nav .left .nav_links .browse_container svg{
        font-size: 1.5rem;
    }
    /* Mui Configuration */
    .MuiPaper-root{
      background-color: rgba(0, 0, 0, 0.801) !important;
    }
    .MuiPaper-root::before{
      background-color: rgba(0, 0, 0, 0.801) !important;
    }
    .mui_links{
        margin: 0% auto;
        padding: 0 30px;
        font-family: netflix_light,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
        font-size: .86rem;
        text-decoration: none;
        color: rgb(216, 215, 215);
    }
    .mui_links_active{
        color: #ffff;
        font-family: netflix_medium,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    }
}
@media screen and (max-width: 800px) {
    .modal_container .my_modal{
        width: 70%;
        padding-bottom: 10px;
    }
    #youtube_player{
        height: 200px;
    }
    .modal_container .my_modal .movie_banners{
        margin-top: -205px;
        height: 200px;
    }

    .modal_container .my_modal .details_container .title{
        font-size: .9rem;
    }
    .modal_container .my_modal .details_container .date{
        font-size: .9rem;
    }
    .modal_container .my_modal .details_container .genres{
        font-size: .9rem;
    }
    .modal_container .my_modal .details_container .overview{
        font-size: .9rem;
    }
}
@media screen and (max-width: 601px) {
    .footer_container .bg_content{
        margin-top: 40px;
        justify-content: center;
    }    
}

@media screen and (max-width: 551px) {
    nav .left{
        margin-left: 20px;
    }
    nav .right{
        margin-right: 20px;
    }
}

@media screen and (max-width: 221px) {
    html{
        display: none;
    }
}