@font-face { font-family: netflix_light; src: url('../Assets/Netflix_Font/NetflixSans-Light.otf'); } 
@font-face { font-family: netflix_regular; src: url('../Assets/Netflix_Font/NetflixSans-Regular.otf'); } 
@font-face { font-family: netflix_medium; src: url('../Assets/Netflix_Font/NetflixSans-Medium.otf'); } 
@font-face { font-family: netflix_bold; src: url('../Assets/Netflix_Font/NetflixSans-Bold.otf'); } 
/* font-family: netflix_regular,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif; */

*{
    padding: 0;
    margin: 0;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #141414;
}
p,h1,h2,h3,h4,h5,h6{
    margin: 0;
}

/* Navigation Bar */
nav{
    z-index: 1;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 68px;
    background: transparent;
    transition: .5s ease;
}
nav .left{
    margin-left: 60px;
    display: flex;
}
nav .left .logo{
    height: 25px;
    width: auto;
    margin-right: 45px;
}
nav .left .nav_links{
    display: flex;
    align-items: center;
    gap: 20px;
}
nav .left .nav_links .links{
    font-family: netflix_light,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    font-size: .86rem;
    color: rgb(216, 215, 215);
    transition: .4s;
}
nav .left .nav_links .active{
    font-family: netflix_regular,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    color: #ffff;
}
nav .left .nav_links .links:hover{
    cursor: pointer;
    color: rgb(177, 176, 176);
}
nav .left .nav_links .browse_container{
    display: none;
}
nav .right{
    margin-right: 60px;
}
nav .right .avatar{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 3px;
    height: 33px;
    width: 30px;
    object-fit: contain;
}


/* Modal Container */
.modal_container{
    position: fixed;
    inset: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.555);
    z-index: 100;
    display: none;
    align-items: center;
    justify-content: center;
}
.modal_container .my_modal{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    width: 49%;
    max-width: 937px;
    padding-bottom: 30px;
    height: auto;
    background-color: #181818;
    overflow: hidden;
    display: none;
}
.modal_container .my_modal .close_btn{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #181818;
    float: right;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;
    clear: both;
    z-index: 999;
    position: relative;
}
.modal_container .my_modal .close_btn:hover{
    cursor: pointer;
    opacity: 90%;
}
#youtube_player{
    margin-top: -70px;
    width: 100%;
    height: 500px;
    z-index: 998;
}
.modal_container .my_modal .details_container{
    width: 92%;
    margin: 0 auto;
    margin-top: 10px;
}
.modal_container .my_modal .details_container .title{
    color: #d0d0d0;
    font-size: 1.7rem;
    font-family: netflix_bold,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}
.modal_container .my_modal .details_container .date{
    margin-top: 10px;
    color: #d0d0d0;
    font-size: 1.2rem;
    font-family: netflix_light,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}
.modal_container .my_modal .details_container .date span:nth-child(1){
    color:#6d6c6c;
}
.modal_container .my_modal .details_container .genres{
    margin-top: 10px;
    font-size: 1rem;
    color:#6d6c6c;
    font-family: netflix_regular,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}
.modal_container .my_modal .details_container .overview{
    margin-top: 10px;
    font-size: 1rem;
    color: #d0d0d0;
    line-height: 1.5rem;
    font-family: netflix_light,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}

/*RESPONSIVE*/
@media screen and (max-width: 1301px) {
    .modal_container .my_modal{
        width: 55%;
    }
}
@media screen and (max-width: 1101px) {
    .modal_container .my_modal{
        width: 60%;
    }
    #youtube_player{
        height: 370px;
    }
}
@media screen and (max-width: 884px) {
    .modal_container .my_modal{
        width: 80%;
    }
    #youtube_player{
        height: 350px;
    }

    nav .left .nav_links .links{
        display: none;
    }
    nav .left .nav_links .browse_container{
        z-index: 100;
        display: flex;
        align-items: center;
        color: #ffff;
        transition: .4s;
    }
    nav .left .nav_links .browse_container:hover{
        color: rgb(177, 176, 176);
    }
    nav .left .nav_links .browse_container p{
        font-family: netflix_bold,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
        font-size: .86rem;
    }
    nav .left .nav_links .browse_container svg{
        font-size: 1.5rem;
    }
    /* Mui Configuration */
    .MuiPaper-root{
      background-color: rgba(0, 0, 0, 0.801) !important;
    }
    .MuiPaper-root::before{
      background-color: rgba(0, 0, 0, 0.801) !important;
    }
    .mui_links{
        margin: 0% auto;
        padding: 0 30px;
        font-family: netflix_light,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
        font-size: .86rem;
        color: rgb(216, 215, 215);
    }
    .mui_links_active{
        color: #ffff;
        font-family: netflix_medium,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    }
}
@media screen and (max-width: 551px) {
    nav .left{
        margin-left: 20px;
    }
    nav .right{
        margin-right: 20px;
    }
}

@media screen and (max-width: 221px) {
    html{
        display: none;
    }
}